@import "tailwindcss";

@theme {
    /* FONTS */
    --font-logo: 'Andada Pro';
    --font-heading: 'Geist';
    --font-body: 'IBM Plex Sans';
    --font-code: 'JetBrains Mono';

    /* COLORS */
    --color-parchment: #F3E9D2;
    --color-rich-black: #02111B;
    --color-dark-cyan: #0096A0;
}

body {
    background-color: var(--color-parchment);
    font-family: var(--font-body);
    color: var(--color-parchment);
}

.underline-anim {
    position: relative;
}

.underline-anim::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #F3E9D2;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.underline-anim:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

h1 {
    font-size: 24px;
}
