@import "tailwindcss";

@theme {
    /* FONTS */
    --font-logo: 'Andada Pro';
    --font-heading: 'Geist';
    --font-body: 'IBM Plex Sans';
    --font-code: 'JetBrains Mono';

    /* COLORS */
    --color-primary: #008080;
    --color-secondary: #bf55ec;
    --color-background: #0a0a0f;
    --color-panels: #141419;
    --color-panel-border: #0f0f14;
    --color-font-col: #f5f5f5;
    --color-success: #00944a;
    --color-error: #9c0027;
    --color-info: #007c9c;
}

body {
    background-color: var(--color-background);
    color: var(--color-font-col);
    font-family: 'IBM Plex Sans';
}

p {
    line-height: 24px;
    letter-spacing: 0;
}

h2 {
    letter-spacing: -0.05em;
}